@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #273053;
    height: 10vh;
    display: flex;
    place-items: center;
    z-index: 999;
}

nav>main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: #0dcaf0;
}

.logo>i {
    font-size: 2.5rem;
    margin-right: 5px;
    cursor: pointer;
}

.logo_text h3 {
    font-weight: 600;
    cursor: pointer;
}

.burger {
    display: none;
    margin-right: 2rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_links>ul {
    display: flex;
    list-style: none;
    color: white;
    margin-right: 20px;
}

.nav_links>ul>li {
    margin: 0 10px;
}

.nav_links>button {
    all: unset;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: white;
    border-radius: 18px;
    transition: 0.5s ease;
}

.nav_links>button:hover {
    background-color: #0dcaf0;
}

header {
    position: relative;
    height: 100vh;
}

header>video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

header>main {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) linear-gradient(rgba(39, 48, 83, 0.1) 0%, rgb(39, 48, 83) 100%) repeat scroll 0% 0%;
}

.header_title>h1 {
    color: white;
    font-size: 3rem;
}

.header_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.header_buttons>button {
    all: unset;
    padding: 10px 20px;
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
}

.header_title>button {
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    background-color: white;
    transition: .5s ease;
    cursor: pointer;
}

.header_title>button:hover {
    background-color: #0dcaf0;
    color: white;
}

.highlights_container {
    background-color: #273053;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 1rem;
    gap: 20px;
}

.highlight {
    width: 440px;
    height: 300px;
    position: relative;
    margin: 0 10px;
    overflow: hidden;
    text-align: center;
}

.highlight_icon {
    display: none;
}

.highlight>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    z-index: 0;
}

.highlight_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 1.7rem;
}

.highlight:hover .highlight_img {
    transform: scale(1.1);
}

.highlight:hover .highlight_content {
    display: none;
}

.highlight:hover .highlight_icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: rgb(228, 1, 1);
    cursor: pointer;

}

.highlight:hover .highlight_icon:hover {
    transition: 0.2s ease;
    color: white;
}

/*story section*/
.story_section {
    padding: 5rem 0;
}

.story_section>main {
    width: 80%;
    margin: auto;
}

.story_section>main>h1 {
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.story_container {
    display: flex;
    justify-content: space-between;

}

.story {
    width: 45%;
}

.story>h1 {
    font-size: 2rem;
}

.story>p {
    margin: 1.5rem 0;
    color: gray;
    line-height: 24px;
}

.story>button:nth-child(3) {
    all: unset;
    color: #0dcaf0;
    border: 2px solid #0dcaf0;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
    margin-right: 20px;
    margin-bottom: 10px;
}

.story>button:nth-child(3):hover {
    background-color: #0dcaf0;
    color: white;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}

.story>button:nth-child(4) {
    all: unset;
    background-color: #273053;
    border: 2px solid #273053;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease;
    margin-right: 20px;

}

.story>button:nth-child(4):hover {
    background-color: #0dcaf0;
    color: white;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}

.story2 {
    width: 45%;
}

.story2>h1 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.story2_line {
    height: 0.5px;
    background-color: rgb(202, 202, 202);
    margin: 2rem 0;
}

.avatars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.avatar-group {
    position: relative;
    min-width: 190px;

}

.avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-group>img:nth-child(2) {
    position: absolute;
    left: 45px;
}

.avatar-group>img:nth-child(3) {
    position: absolute;
    left: 90px;
}

.avatar-group>img:nth-child(4) {
    position: absolute;
    left: 135px;
}

/*story section*/

/*speakrs section*/
.speakers-section {
    background-color: #F0F8FF;
    padding: 5rem 0;
    height: 800px;
}

.speakers-title-container {
    border: 1px solid red;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.speakers-title {
    border: 2px solid black;
    width: 500px;
}

.speakers-title>p {
    margin: 1.5rem 0;
    color: gray;
    line-height: 24px;
}

.main-speaker {
    position: relative;
    border: 2px solid green;
    width: 500px;
    height: 400px;
    background-image: url(https://templatemo.com/templates/templatemo_575_leadership_event/images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg);
    background-size: cover;
    background-position: center;

}

.main-speaker>p {
    position: absolute;
    padding: 5px 8px;
    background-color: #0d6efd;
    color: white;
    font-size: 13px;
    border-radius: 5px;
    right: 10px;
    top: 10px;
}

.speaker-info {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
    background-color: white;

}

.overlay {
    width: 10px;
    height: 100%;
    background-color: #0dcaf0;
    position: absolute;
    z-index: 0;
    transition: 1s ease;
}

.speaker_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}

.main-speaker:hover .overlay {
    width: 100%;
}

.main-speaker:hover .speaker_content>div:nth-child(1) {
    color: white;
}

.icon_container {
    visibility: hidden;
    display: flex;
    gap: 10px;

}

.icon-wrapper {
    padding: 5px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
    /* transition: 0.1s ease; */
}

.icon-wrapper:hover {
    background: transparent;
    color: white;
}

.main-speaker:hover .icon_container {
    visibility: visible;
    transition-delay: 1s;

}



/*speakrs section*/


@media only screen and (max-width:1200px) {
    .speakers-title-container {
        flex-direction: column;
    }

    .speakers-title {
        width: 100%;
    }

    .main-speaker {
        width: 100%;
    }


}




@media only screen and (max-width:900px) {
    .nav_links>ul {
        display: none;
    }

    .burger {
        display: block;
    }

    .highlight {
        margin: 10px 0;
        padding: 0 15px;
    }

    .story_container {
        flex-direction: column;
    }

    .story {
        width: 100%;

        margin: auto;

    }

    .story2 {
        width: 100%;
        margin: auto;
        margin-top: 15px;
    }

}


@media only screen and (max-width: 768px) {
    .nav_links>button {
        display: none;
    }

    .avatars {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .speakers-title-container {
        width: 90%;
    }

    .speaker_content {
        flex-direction: column;
    }
}